<header>
    <div class="top-header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p class="purchase-text"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    
    <nav class="nav-bar">
        <ul class="nav-bar-left">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="nav-bar-right">
            <li><a href="/register">Crea tu Cuenta</a> <i class="far fa-id-card"></i></li>
            <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
<section class="banner">
    <img src="\images\img-home-banner.jpg" alt="imagen del banner">
</section>