<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!-- Para icono en pestana -->
    <link rel="icon" href="">

    <!-- Link para google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Stardos+Stencil&display=swap" rel="stylesheet">


    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />


    <!-- Link para css propio -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--Encabezado del sitio -->
    <header>
        <div class="topHeader">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            </div>
            <div class="searchBar">
                <input type="text" placeholder="Buscar...">
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="leyendaCompra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="navBar">
            <ul class="navBarLeft">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="navBarRight">
                <li><a href="register.html">Crea tu Cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <section class="banner">
        <img src="\images\img-home-banner.jpg" alt="imagen del banner">
    </section>

    <!-- Contenido Principal -->
    <main>
        <!--Comienza Seccion Ultima Visita -->
        <section class="ultimaVisita">
            <h3>Basado en tu última visita</h3>
            <div class="productos">
                <!-- Cafetera -->
                <article>
                    <div>
                        <img src="\images\img-cafetera-moulinex.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
                <!-- Macbook -->
                <article>
                    <div>
                        <img src="\images\img-macbook-pro-2019.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>
                <!-- S Galaxy -->
                <article>
                    <div>
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
                <!-- TV Samsung -->
                <article>
                    <div>
                        <img src="\images\img-tv-samsung-smart.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>

        <!--Comienza Seccion Ofertas -->
        <section class="ofertas">
            <h3>Ofertas</h3>
            <!-- Cafetera -->
            <div class="productos">
                <article>
                    <div>
                        <img src="\images\img-cafetera-moulinex.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
                <!-- Macbook -->
                <article>
                    <div>
                        <img src="\images\img-macbook-pro-2019.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>
                <!-- S Galaxy -->
                <article>
                    <div>
                        <img src="\images\img-samsung-galaxy-s10.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
                <!-- TV Samsung -->
                <article>
                    <div>
                        <img src="\images\img-tv-samsung-smart.jpg" alt="" class="product_img">
                    </div>
                    <div class="detalleProducto">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <!--Finaliza Seccion Ofertas -->
    </main>
    
    <!-- Pie de pagina del sitio -->
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>
</html>
