<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!-- Para icono en pestana -->
    <link rel="icon" href="">

    <!-- Link para google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Stardos+Stencil&display=swap" rel="stylesheet">


    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />


    <!-- Link para css propio -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <!--Encabezado del sitio -->
    <header>
        <div class="topHeader">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </a>
            </div>
            <div class="searchBar">
                <input type="text" placeholder="Buscar...">
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="leyendaCompra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="navBar">
            <ul class="navBarLeft">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="navBarRight">
                <li><a href="register.html">Crea tu Cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="login.html">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="\images\img-home-banner.jpg" alt="imagen del banner">
    </section>

    <main class="form-container">
        <form action="#" method="GET">
            <div class="form-group">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario">
            </div>
            <div class="form-group">
                <label for="email">Ingrese su E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="nacimiento">Fecha de Nacimiento</label>
                <input type="date" name="nacimiento" id="nacimiento">
            </div>
            <div class="form-group">
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio">
            </div>
            <div class="form-radio">
                <p>Perfil del Usuario</p>
                <input type="radio" name="comprador" value="comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" name="vendedor" value="vendedor">
                <label for="vendedor">Vendedor</label>
            </div>
            <div class="form-checkbox">
                <p>Intereses</p>
                <label for="electro"><input type="checkbox" name="electro" value="electro"> Electro</label>
                <label for="moda"><input type="checkbox" name="moda" value="moda"> Moda</label>
                <label for="hogar"><input type="checkbox" name="hogar" value="hogar"> Hogar</label>
                <label for="jugueteria"><input type="checkbox" name="jugueteria" value="jugueteria"> Jugueteria</label>              
                <label for="vida-sana"><input type="checkbox" name="vida-sana" value="vida-sana"> Vida Sana</label>
            </div>
            <div class="form-group">
                <label for="password">Ingrese una contrasena</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirme su contrasena</label>
                <input type="password" name="confirm-password" id="confirm-password">
            </div>
            <div class="form-button">
                <button type="submit">Enviar</button>
                <button type="reset">Limpiar</button>
            </div>
        </form>
    </main>

    <!-- Pie de pagina del sitio -->
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>
</html>