:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
}
/* Estilos Mobile */
.form-container {
    margin: 0 auto;
    padding: 20px 5px;
    width: 100%;
    background-color: var(--light-gray);
    display: block;
}

.form-container p {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container label {
    font-size: 12px;
}

.form-group {
    margin: 15px auto;
    width: 55%;
}

.form-group input {
    width: 100%;
}

.form-button {
    width: 55%;
    margin: 15px auto;
}

.form-button button {
    margin-top: 20px;
    width: 100%;
}

.form-button button:hover {
    background-color: #0022AA;
    color: var(--light-gray);
}
/* Finaliza Mobile */

/* Media Query para Tablet */
@media (min-width: 361px) {
    .form-container {
        width: 75%;
    }
}