:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0px auto;
    width: 90vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 12px;
}

header {
    background-color: var(--yellow);
}

header .logo {
    width: 35vw;
}

.navBar {
    display: none;
}

.banner img {
    object-fit: cover;
    width:100%;
    height:100%;
}

.ofertas, .ultimaVisita {
    background-color: #ebebeb;
    padding-bottom: 5px;
}

article {
    margin: 0px auto 20px;
    width: 90%;
}

article img {
    object-fit: cover;
    width:100%;
    height:100%;
}

.detalleProducto {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

.detalleProducto i {
    color: var(--green);
}

.precios {
    font-size: 18px;
}

.descripciones {
    display: none;
}

.descuentos {
    color: var(--green);
}

.descuentos, .descripciones {
    font-size: 16px;
    font-weight: 600;
}

.ultimaVisita h3, .ofertas h3 {
    font-size: 24px;
}

.leyendaCuotas {
    display: inline;
}

footer section {
    margin-bottom: 10px;
    padding: 1.5em;
    text-align: center;
}

footer section i {
    font-size: 2em;
    padding-bottom: 5px;
}

div.burger-menu {
    text-align: center;
    padding-bottom: 12px;
}

div.burger-menu i {
    color: var(--light-gray);
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Media Query para Tablet */
@media (min-width: 361px) {
    .navBar {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    header ul li{
        list-style-type: none;
        font-size: 12px;
    }
    
    header ul li a{
        text-decoration: none;
        color: #000;
    }

    article {
        box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    }

    .descripciones {
        display: block;
    }
}


/* Media Query para Desktop */
@media (min-width: 769px) {
    .navBar {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    header ul li{
        list-style-type: none;
        font-size: 12px;
    }
    
    header ul li a{
        text-decoration: none;
        color: #000;
    }
    .descripciones {
        display: block;
    }
}